.Article {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 2rem;

  @media (min-width: 37.5rem) {
    flex-direction: row-reverse;
  }

  h3 {
    @media (min-width: 37.5rem) {
      margin-top: -.25rem;
    }
  }

  .article-image {
    overflow: hidden;
    height: 8rem;
    margin-bottom: .5rem;

    @media (min-width: 37.5rem) {
      flex: 0 0 30%;
      height: auto;
      margin-right: 1rem;
      margin-bottom: 0;
    }

    img {
      transform: translateY(-25%);

      @media (min-width: 37.5rem) {
        transform: none;
      }
    }
  }
}