.Layout {
  min-height: 100vh;
  background: #000 url('/images/bg-5.jpg') center no-repeat fixed;
  background-size: cover;
  color: #eee;
  
  .content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 3rem 1rem 4rem;

    @media (min-width: 75rem) {
      padding: 3rem 0 4rem;
    }

    a {
      &, &:visited {
        color: #fff;
      }
    }
  }
}