@import "../node_modules/mini.css/src/flavors/mini-default.scss";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,500|Montserrat:400,400i,700&display=swap');

html, * {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: underline;
}

h1 {
  margin-left: 0;
  margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-left: 0;
  margin-right: 0;
  font-family: 'Work Sans', sans-serif;
  
  a {
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

h1, h2 {
  font-weight: 300;
}

h3, h4, h5, h6 {
  font-weight: 500;
}

body {
  background-color: #000;
}

section {
  margin-bottom: 2rem;
}

.list-unstyled {
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  li {
    padding: 0;
    list-style: none;

    ul {
      li {
        padding: inherit;
        list-style: inherit;
        list-style-type: disc;
      }
    }
  }
}

#root {
  min-height: 100vh;
}